h1{
    border: 2px solid blue;
}

p{
    border: 2px solid blue;
}

@media screen and (max-width: 500px) {
    p{
        border: 2px solid red;
        font-size: 30px;
    }

    h1{
        display: none;
        border: 2px solid red;
    }
}
        
        